@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    font-family: "Outfit" ;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 54%, 11%);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 260px;
    height: 400px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}
.card img{
    width: 92%;
    height: 50%;
    margin: 10px;
    border-radius: 10px;
}
span{
    display: block;
    border-top: 1px solid hsl(215, 32%, 27%);
    margin: 5px 15px;
}
h3{
    color: white;
    margin: 10px;
    margin-top: -3px;
}
.icon{
    width: 50%;
    height: 10%;
    display: inline;
}
.icon img{
}
p {
    margin-left: 10px;
    font-size: 15px;
    color: hsl(215, 32%, 27%);
}
.attribution{
    width: 20%;
    height: 15%;
    display:flex;
    margin-left: 10px;
}